.favorite_slider{
    position: relative;
}
.favorite_slider_item{
    display: flex;

    h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        padding-top: 55px;
    }
}

.favorite_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 120px 80px 130px 80px;
    background-color: $pink;
    color: $colorWhite;

    .favorite_stars{
        color: $yellow;
        padding: 18px 0 18px 0;
    }
}
.favorite_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 120px 80px 130px 80px;
    background-color: $blue;
    color: $darcBlue;

    .favorite_stars{
        color: $orange;
        padding: 18px 0 18px 0;
    }
}
.favorite_img{
    width: 300px;
    object-fit: cover;

}

.favorite_title{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;

    padding-bottom: 16px;
}

.favorite_text{
    text-align: center;
    font-size: 16px;
}

.favorite_stars{
    font-size: 20px;
}

.favorite_slider .slick-arrow{
    position: absolute;
    top: calc(50% - 35px);
    font-size: 0;
    border: 0;
    z-index: 10;
}
.favorite_slider .favorite_prev{
    height: 40px;
    width: 25px;
    left: 75px;
}
.favorite_slider .favorite_next{
    height: 40px;
    width: 25px;
    right: 75px;
}