<div class="bestseller">
    <div class="content_container">
        <h1 class="big_title color-darkPink">Shop Our Bestseller</h1>

        <div class="bestseller_slider">
            <div class="bestseller_slider_item_card">
                <div class="bestseller_card_img">
                    <img src="img/bestseller/item3.png" alt="">
                    <div class="bestseller_item_like"><img class="like_icon" src="img/svg/icons/icon-wish.svg" alt=""></div>
                </div>
                <p>Jolly Baby - 6 pages Mini Quiet Book</p>
                <h3>€39,99</h3>
                <button class="pink_button_outline">Add to cart</button>
            </div>
            <div class="bestseller_slider_item_card">
                <div class="bestseller_card_img">
                    <img src="img/bestseller/item4.png" alt="">
                    <div class="bestseller_item_like"><img class="like_icon" src="img/svg/icons/icon-wish.svg" alt=""></div>
                </div>
                <p>Globetrotter - Quiet Book</p>
                <h3>€79,99</h3>
                <button class="pink_button_outline">Add to cart</button>
            </div>
            <div class="bestseller_slider_item_card">
                <div class="bestseller_card_img">
                    <img src="img/bestseller/item2.png" alt="">
                    <div class="bestseller_item_like"><img class="like_icon" src="img/svg/icons/icon-wish.svg" alt=""></div>
                </div>
                <p>Little Bee - 6 Pages Mini Quiet Book</p>
                <h3>€39,99</h3>
                <button class="pink_button_outline">Add to cart</button>
            </div>
            <div class="bestseller_slider_item_card">
                <div class="bestseller_card_img">
                    <img src="img/bestseller/item1.png" alt="">
                    <div class="bestseller_item_like"><img class="like_icon" src="img/svg/icons/icon-wish.svg" alt=""></div>
                </div>
                <p>Magic Bird - 6 Pages Mini Quiet Book</p>
                <h3>€39,99</h3>
                <button class="pink_button_outline">Add to cart</button>
            </div>
            <div class="bestseller_slider_item_card">
                <div class="bestseller_card_img">
                    <img src="img/bestseller/item2.png" alt="">
                    <div class="bestseller_item_like"><img class="like_icon" src="img/svg/icons/icon-wish.svg" alt=""></div>
                </div>
                <p>Little Bee - 6 Pages Mini Quiet Book</p>
                <h3>€39,99</h3>
                <button class="pink_button_outline">Add to cart</button>
            </div>
        </div>
    </div>
</div>