<div class="categories">
    <div class="content_container">
        <div class="flex_title">
            <div class="categories_title">
                <img src="img/svg/icons/stripes.svg" alt="" class="stripes">
                <h1 class="big_title color-darkBlue">Our Categories</h1>
            </div>
        </div>
        <div class="categories_slider">
            <a href="">
                <div class="categories_slider_item">
                    <img src="img/categories/categories_item1.png" alt="">
                    <h2>Quiet Books</h2>
                </div>
            </a>
            <a href="">
                <div class="categories_slider_item">
                    <img src="img/categories/categories_item2.png" alt="">
                    <h2>Mini Quiet Books</h2>
                </div>
            </a>
            <a href="">
                <div class="categories_slider_item">
                    <img src="img/categories/categories_item3.png" alt="">
                    <h2>Booklets</h2>
                </div>
            </a>
            <a href="">
                <div class="categories_slider_item">
                    <img src="img/categories/categories_item4.png" alt="">
                    <h2>Wooden Toys</h2>
                </div>
            </a>
            <a href="">
                <div class="categories_slider_item">
                    <img src="img/categories/categories_item5.png" alt="">
                    <h2>Wall decorations</h2>
                </div>
            </a>
        </div>
    </div>
</div>