<div class="follow_us">
    <div class="content_container">
        <div class="folow_us_info">
            <img src="img/Group_stripes.png" alt="" class="group_stripes">
            <img src="img/Group_stars.png" alt="" class="group_stars">

            <div class="folow_us_title">
                <img src="img/svg/icons/stripes.svg" alt="" class="stripes">
                <h1 class="big_title color-darkBlue">Follow us</h1>
            </div>
            <h2>in our journey in helping children get to their full potential, one book at a time!</h2>
            <div class="follow_us_inst">
                <i class="icon icon-instagram"></i>
                <h3>@jollydesigns</h3>
            </div>
        </div>
        <div class="follow_slider">
            <div class="follow_slider_item">
                <img src="img/inst/inst_item1.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item2.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item3.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item4.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item5.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item6.png" alt="">
            </div>

            <div class="follow_slider_item">
                <img src="img/inst/inst_item1.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item2.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item3.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item4.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item5.png" alt="">
            </div>
            <div class="follow_slider_item">
                <img src="img/inst/inst_item6.png" alt="">
            </div>
        </div>
    </div>
</div>