<footer class="footer">
	<div class="footer_container">
		<div class="footer_content">

			<div class="footer_info">
				<h1 class="footer_title">JOLLY DESIGNS Ltd.</h1>
				<p class="footer_info_text">Jolly Designs GmbH stands for unique, magical and wonderful toys. Our products range from Quiet Books, cute accessories for toddlers to wall decor for the nursery.We offer high quality, innovative and responsible products for curious and imaginative little minds.</p>
			</div>

			<div class="footer__blocks">
				<div class="footer__block">
					<h1 class="footer_title">Information</h1>
					<a href="#" class="footer__block_text">Terms of use</a>
					<a href="#" class="footer__block_text">Delivery</a>
					<a href="#" class="footer__block_text">Privacy and data protection</a>
					<a href="#" class="footer__block_text">Return</a>
					<a href="#" class="footer__block_text">Cancellation policy</a>
					<a href="#" class="footer__block_text">Imprint</a>
					<a href="#" class="footer__block_text">Payment methods</a>
					<a href="#" class="footer__block_text">General terms and conditions</a>
					<a href="#" class="footer__block_text">Refund Policy</a>
				</div>
				<div class="footer__block footer__block_pd">
					<h1 class="footer_title">About Us</h1>
					<a href="#" class="footer__block_text">Our History</a>
					<a href="#" class="footer__block_text">About Us</a>
					<a href="#" class="footer__block_text">Manufacturing Process</a>
					<a href="#" class="footer__block_text">Trade Fairs</a>
					<a href="#" class="footer__block_text">Quiet Books Blog</a>
				</div>
				<div class="footer__block">
					<h1 class="footer_title">Newsletter</h1>
					<form class="footer_form" action="/">
						<input class="footer_input" type="input" placeholder="E-mail">
						<input class="footer_button" type="button" value="Subscribe">
					</form>
					<div class="footer_auth">
						<a href="#" class="footer__block_text">Create account</a>
						<a href="#" class="footer__block_text">B2B Log-in</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer_bottom">
			<div class="divider"></div>
			<div class="pay">
				<a href="#"><img src="img/svg/pay/amex.svg" alt="amex"></a>
				<a href="#"><img src="img/svg/pay/apple_pay.svg" alt="apple_pay"></a>
				<a href="#"><img src="img/svg/pay/google_pay.svg" alt="google_pay"></a>
				<a href="#"><img src="img/svg/pay/klarna.svg" alt="klarna"></a>
				<a href="#"><img src="img/svg/pay/mastercard2.svg" alt="mastercard2"></a>
				<a href="#"><img src="img/svg/pay/mastercard.svg" alt="mastercard"></a>
				<a href="#"><img src="img/svg/pay/paypal.svg" alt="paypal"></a>
				<a href="#"><img src="img/svg/pay/opay.svg" alt="opay"></a>
				<a href="#"><img src="img/svg/pay/visa.svg" alt="visa"></a>
			</div>

			<p class="copyright">© 2022, Jolly Designs</p>

			<div class="socials">
				<a href="#"><img src="img/svg/socials/facebook.svg" alt="facebook"></a>
				<a href="#"><img src="img/svg/socials/tvitter.svg" alt="tvitter"></a>
				<a href="#"><img src="img/svg/socials/pinterest.svg" alt="pinterest"></a>
				<a href="#"><img src="img/svg/socials/instagram.svg" alt="instagram"></a>
				<a href="#"><img src="img/svg/socials/shopify.svg" alt="shopify"></a>
				<a href="#"><img src="img/svg/socials/youtube.svg" alt="youtube"></a>
			</div>
		</div>
	</div>
</footer>
