<div class="sudheader">
    <div class="sudheader_menu">
        <div class="menu__item">
            <span class="icon icon-icon-car"></span >
            <p class="menu__title">Free shipping from 60€ (DE)</p>
        </div>
        <div class="menu__item">
            <span  class="icon icon-icon-hand-made"></span >
            <p class="menu__title">High quality hand-mand & ethical products</p>
        </div>
        <div class="menu__item">
            <span  class="icon icon-icon-guarantee"></span >
            <p class="menu__title">6 Months guarantee</p>
        </div>
        <div class="menu__item">
            <img src="img/svg/icons/icon-germany.svg" alt="">
            <p class="menu__title">Made in Germany</p>
        </div>
		<div class="menu__item">
            <span  class="icon icon-icon-heart"></span >
            <p class="menu__title">The favourite of partners</p>
        </div>
        <div class="menu__item">
            <span  class="icon icon-icon-replacement"></span >
            <p class="menu__title">Free shipping from 60€ (DE)</p>
        </div>
    </div>
</div>
<header class="header">
	<div class="container">
		<div class="panel">
			<div class="tool">
				<div class="phone_number">
					<img src="img/svg/icons/icon-phone.svg" alt="">
					<p class="weight-600 color-pink phone_number">+49 61729452910</p>
				</div>
				<ul class="language">
					<li class="nav_item"><a class="weight-600 color-gray" href="#">EN</a>
						<ul class="submenu">
							<li><a href="">FR</a></li>
							<li><a href="">DE</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<img class="logo" src="img/logo.png" alt="">
			<div class="right_tools">
				<a href="#">
					<img class="icon_hover" src="img/svg/icons/icon-search.svg" alt="">
				</a>
				<a href="#">
					<img class="icon_hover" src="img/svg/icons/icon-user.svg" alt="">
				</a>
				<a class="like" href="#">
					<img class="icon_hover" src="img/svg/icons/icon-heart-1.svg" alt="">
					<div class="counter">6</div>
				</a>
				<a class="like" href="#">
					<img class="icon_hover" src="img/svg/icons/icon-cart.svg" alt="">
					<div class="counter">2</div>
				</a>
			</div>
		</div>

		<ul class="nav">
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">Products</a>
				<ul class="submenu">
					<li><a href="">Quiet Books</a></li>
					<li><a href="">Mini Quiet Books</a></li>
					<li><a href="">Booklets</a></li>
					<li><a href="">Wooden Toys</a></li>
					<li><a href="">Wall decorations</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Child Development</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">What are Quiet Books</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Blog</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">About Us</a>
				<ul class="submenu">
					<li><a href="">About Us</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">About Us</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">Support</a>
				<ul class="submenu">
					<li><a href="">Support</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Where to Find Us</a></li>
		</ul>
	</div>
</header>
